<button type="button">Edit Schedule</button>
<table>
    <th>To Do List</th> 
    <tr>
        <td class="completed"> <input type="checkbox" onclick="markdone()"> </td>  
        <td class= "done">Go to the post office to pick up a package</td>
        <td><input type="time"></td>
    </tr>
    
    <tr>
        <td class="completed"> <input type="checkbox"/> </td>  
        <td id="elt1"> Cook/Buy Dinner </td>
        <td><input type="time"></td>
    </tr class="completed">
<td class="completed"> <input type="checkbox"/> </td> 
<td>Finish essay</td>
<td><input type="date"></td>