<button type="button">Edit Schedule</button>
<table>
    <th>To Do List</th> 
    <tr>
        <td class="completed"> <input type="checkbox" onclick="markdone()"> </td>  
        <td class= "done">
            <a href = "show/1">Go to the post office to pick up a package</a>
        </td>
        <td><input type="time"></td>
    </tr>
    
    <tr>
        <td class="completed"> <input type="checkbox"/> </td>  
        <td> 
        <a href = "show/2"> Cook/Buy Dinner </a>
        </td>
        <td><input type="time"></td>
    </tr class="completed">
<td class="completed"> <input type="checkbox"/> </td> 
<td>Finish essay</td>
<td><input type="date"></td>
