<button type="button">Edit Schedule</button>
<table>
    <th>To Do List</th>
    
    <% @todos.each do |todo| %>
        <tr>
            <td class="completed">
                <input type="checkbox" onclick="markdone()"> 
            </td>  
            <td class= "done">
                <a href = "show/<%= todo.id %> "> <%= todo.description %></a>
            </td>
            <td> 
                <span class= "pomodoro_estimate small_pomodoro_estimate"> 
                    <%= todo.pomodoro_estimate%>
                </span>
            </td>
        </tr>
    
    <% end %>

